@import url('https://fonts.googleapis.com/css2?family=Exo:wght@900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@350&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Oxygen:wght@300&display=swap');

body {
  background-color: whitesmoke;
  margin: 0;
  padding: 0;
  font-family: 'Quicksand', sans-serif;
}

/* ----------HEADER---------- */

.top{
  position: sticky;
  top: 0;
  z-index: 100;
}

.header {
  background-color: #00d690;
  text-align: center;
  height: 70px;
  font-family: 'Exo', sans-serif;
  font-size: 30px;
  line-height: 25px;
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  transition-duration: 300ms;
  transition-property: all;
}

  .loading{
    height: 100vh;
    width: 100vw;
    position: fixed;
    font-size: 60px;
    line-height: 55px;
    transition-duration: 300ms;
    transition-property: all;
  }

  .loadingweb3{
    font-family: 'Quicksand', sans-serif;
    font-size: 30px;
    margin: 20px;
}

/* .shrinked {
  height: 70px;
  font-size: 30px;
  line-height: 25px;
} */

.navbar{
  display: flex;
  justify-content: flex-end;
  align-items: center;
  height: 60px;
  background-color: #e5e5e5;
  padding-right: 20px;
}

a {
  color: inherit;
  text-decoration: inherit;
}

.navbarlink{
  height: 100%;
  padding-left: 20px;
  padding-right: 20px;
  color: #333333;
  transition-property: color;
  transition-duration: 300ms;
  display: flex;
  justify-content: center;
  align-items: center;
}

.navbarlink:hover{
  color: #00c680;
}

.selected{
  color: #00c680;
  /* background-color: aqua; */
}

/* -------------------- */

/* ----------PAGE TITLE AND CONTENT---------- */

.pagetitle{
  font-size: 30px;
  margin: 30px 20px;
}

.status{
  text-align: center;
  margin: 20vh auto;
  font-size: 40px;
  color: #cccccc;
}

.sectionTitle{
  font-size: 20px;
  margin: 10px 20px;
}

.content{
  width: 80vw;
  margin: auto;
}

.notFound{
  background-color: lightcoral;
  border-style: solid;
  border-radius: 5px;
  border-width: 1px;
  border-color: crimson;
  color: maroon;
  padding: 20px;
  padding-bottom: 0px;
  display: flex;
  flex-direction: column;
}

li{
  margin-bottom: 10px;
}

/* -------------------- */

/* ----------PROJECT CARDS---------- */

.projects{
  margin-top: 40px;
  margin-bottom: 100px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-column-gap: 3%;
  grid-row-gap: 30px;
}

.card{
  background-color: white;
  border-radius: 40px;
  height: 140px;
  box-shadow: 0 3px 20px #eaeaea;
  transition-property: all;
  transition-duration: 300ms;
  padding: 30px;
  display: grid;
  z-index: 0;
  grid-template-columns: 3fr 1fr;
  grid-template-rows: 30px 25px auto;
  font-family: 'Oxygen', sans-serif;
}

.card:hover{
  box-shadow: 0 3px 90px #dfdfdf;
  z-index: 2;
  transform: translateY(-2px);
}

.title{
  display: flex;
  flex-direction: column;
  font-size: 23px;
  padding-right: 5px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.by{
  font-size: large;
  color: gray;
  grid-row: 2/3;
  grid-column: 1/2;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.reward{
  display: flex;
  flex-direction: column;
  font-family: 'Exo', sans-serif;
  color: #00d690;
  border-left-width: 1px;
  border-left-style: solid;
  border-color: grey;
  justify-content: center;
  align-items: center;
  grid-row: 1/3;
  grid-column: 2/3;
}

.amount{
  width: 90%;
  text-align: center;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.desc{
  margin-top: 20px;
  grid-row: 3;
  grid-column: 1/3;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.about {
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  text-overflow: ellipsis;
  overflow: hidden;
}

/* -------------------- */

/* ----------NEW PROJECT FORM---------- */

.form {
  /* width: 70%; */
  margin: auto;
  display: flex;
  flex-direction: column;
}

.form input{
  height: 20px;
  margin-bottom: 20px;
  padding: 10px;
  font-size: 15px;
}

.form textarea{
  height: 80px;
  max-width: 100%;
  /* border-color: #dddddd; */
  margin-bottom: 20px;
  padding: 10px;
  font-size: 15px;
}

.fcheckpoint{
  display: flex;
  align-items: center;
  justify-content: flex-end;
  flex-wrap: wrap;
}

.fcheckpointdesc{
  flex-grow: 4;
}

.formreward{
  min-width: 0px;
  flex-grow: 1;
  margin: 0 10px;
}

.fbutton{
  height: 40px;
  color: white;
  border-style: none;
  width: 150px;
}

.fcpadd{
  background-color: steelblue;
  margin: 0 20px;
}

.fcpsubmit{
  margin: 20px auto;
  background-color: #00d690;
}

.fcpdelete{
  height: 25px;
  width: 25px;
  margin-bottom: 20px;
  border-radius: 40px;
  background-color: darkgray;
  color: white;
  border-style: none;
}

/* -------------------- */

/* ----------PROJECT DETAILS---------- */

.projectid{
  font-size: 15px;
  font-family: monospace;
}

#pdtitle{
  margin-bottom: 0;
}

.details{
  display: grid;
  grid-template-columns: 1fr 5fr;
  grid-column-gap: 2%;
  grid-row-gap: 20px;
}

.pdhash{
  color: #009650;
  font-size: 15px;
}

.details .status{
  grid-column: 1/3;
}

.pdtitle{
  grid-column: 1/3;
  font-size: 30px;
}

.pdlabel{
  text-align: right;
}

.pdshortDesc{
  text-align: left;
  grid-column: 1/3;
  margin-bottom: 20px;
  margin-left: 20px;
}

.pdtotal{
  font-family: "Exo", sans-serif;
  color: #00c680;
}

.pdcp{
  display: grid;
  grid-template-columns: 30px auto;
  grid-template-rows: minmax(35px, auto) auto;
  grid-column-gap: 20px;
  margin-bottom: 15px;
}

.pdcpstatus{
  grid-row-end: span 2;
  width: 35px;
  height: 35px;
  background-color: #e5e5e5;
  border-radius: 30px;
}

.pdcprow2 {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.pdassign{
  display: flex;
  align-items: center;
  justify-content: flex-end;
  flex-wrap: wrap;
}

.pdassignfield{
  height: 20px;
  padding: 10px;
  font-size: 15px;
  flex-grow: 1;
}

.pdassignbutton{
  height: 40px;
  background-color: #00c680;
}

.pdactions{
  display: flex;
  justify-content: center;
  margin-top: 70px;
}

.pddelete{
  margin-left: 20px;
  background-color: red;
}

.pdcppay {
  background-color: #00c680;
}

.pdunassign {
  background-color: teal;
}

.pdcptick{
  width: 35px;
}

.pdcpdesc{
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.pdcpreward{
  font-family: 'Exo', sans-serif;
  color: #00c680;
}

.error{
  color: red;
}

/* -------------------- */

@media (max-width: 1400px) {
  .content{
    width: 94vw;
  }
  .projects{
    grid-column-gap: 2%;
  }
  .title{
    font-size: 20px;
  }
  .by{
    font-size: medium;
  }
  .desc{
    font-size: 15px;
  }
}

@media (max-width: 750px) {
  .top{
    position: unset;
  }
  .navbar{
    flex-direction: column;
    height: auto;
    margin-top: 70px;
  }
  .header{
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 100;
  }
  .navbarlink{
    padding: 20px;
    width: 100%;
  }
  .content{
    max-width: 500px;
  }
  .projects{
    grid-template-columns: 1fr;
  }
  .card{
    padding: 25px;
    height: 135px;
  }
  .title{
    font-size: 20px;
  }
  .by{
    font-size: 15px;
  }
  .desc{
    font-size: 14px;
  }
  .reward{
    font-size: small;
  }
}